language: python
cache: pip
python:
  - "3.6"
services:
  - redis-server
  - rabbitmq
  - mongodb
before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y libxml2-utils
install:
  - pip install -r requirements.txt
script:
  - pytest -vv
  - pycodestyle --statistics --show-source --exclude=.env,.tox,dist,docs,build,*.egg .
  - flake8 --exclude=.env,.tox,dist,docs,build,*.egg .
  - xml/validate.sh
