[Unit]
Description=cacahuate daemon
After=network.target

[Service]
WorkingDirectory=/home/user/apps/cacahuate
ExecStart=/home/user/apps/cacahuate/.env/bin/cacahuated
Environment=CACAHUATE_SETTINGS=/home/user/app/cacahuate/settings_production.py
Restart=always

[Install]
WantedBy=default.target
